<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ar1st0crat.SciColorMaps.Portable" version="1.0.2" targetFramework="net452" />
  <package id="CNTK.GPU" version="2.3.1" targetFramework="net452" />
  <package id="OpenCvSharp3-AnyCPU" version="3.3.1.20171117" targetFramework="net452" />
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="net452" />
  <package id="OxyPlot.Wpf" version="1.0.0" targetFramework="net452" />
</packages>